*.root
Makefile
cleanup*sh
setup*sh
install.history
*~
*.swp
*.pyc
*.log
InstallArea
amd64_linux26
Linux-i686
Linux-x86_64
build
!/Project/Py_AtmJUNO/results/result*.root
Project/Jobs/*.sh
!Project/Jobs/Ge_CNAF_jobs.sh
!Project/Jobs/CNAF_Atm.sh
!Project/Jobs/IHEP.sh
